/* cuprum-regular - latin_cyrillic */
@font-face {
    font-family: 'Cuprum';
    font-style: normal;
    font-weight: 400;
    src: local('Cuprum Regular'), local('Cuprum-Regular'),
         url('../fonts/cuprum-v11-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/cuprum-v11-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/cuprum-v11-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/cuprum-v11-latin_cyrillic-regular.svg#Cuprum') format('svg'); /* Legacy iOS */
}

/* cuprum-italic - latin_cyrillic */
@font-face {
    font-family: 'Cuprum';
    font-style: italic;
    font-weight: 400;
    src: local('Cuprum Italic'), local('Cuprum-Italic'),
        url('../fonts/cuprum-v11-latin_cyrillic-italic.woff2') format('woff2'),
        url('../fonts/cuprum-v11-latin_cyrillic-italic.woff') format('woff'),
        url('../fonts/cuprum-v11-latin_cyrillic-italic.ttf') format('truetype'),
        url('../fonts/cuprum-v11-latin_cyrillic-italic.svg#Cuprum') format('svg');
}

/* PTsans regular */
@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: local('PT Sans'),local('PT Sans regular'),
        url('../fonts/ptsans.woff2') format('woff2'),
        url('../fonts/ptsans.woff') format('woff'),
}
/* PTsans bold */
@font-face {
    font-family: 'PT Sans';
    font-style: bold;
    font-weight: 700;
    src: local('PT Sans'),local('PT Sans bold'),
        url('../fonts/ptsansbold.woff2') format('woff2'),
        url('../fonts/ptsansbold.woff') format('woff'),
}
/* Myriad Pro Regular */
@font-face {
    font-family: 'Myriad Pro Regular';
    font-style: normal;
    font-weight: normal;
    src: local('MyriadPro-Regular'),local('MyriadPro Regular'),
        url('MyriadPro-Regular.eot') format('embedded-opentype'),
        url('MyriadPro-Regular.woff') format('woff');
}
@keyframes shake{
    20%{top:52%}
    50%{top:50%}
    50%{top:48%}
    100%{top:50%}
}
@keyframes appearance{
    from{top:-10%}
    to{top:50%}
}
*, *::after, *::before{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: "Cuprum","Arial",sans-serif;
    font-weight: 400;
    color: #000000;
    font-size: 17px;
    background-color: #ffffff;
}
.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
.hidden{
    display: none;
}
header.header{
    display: flex;
    flex-direction: column;
    min-height: 320px;
    background-color: #f3f7f8;
}
main.main{
    position: relative;
}
.header h2,
.main h2{
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}
.container{
    width:940px;
    margin: 0 auto;
}
.container-footer{
    background-color: #32425c;
    width:940px;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
}
.header-top ul, .products ul, .popular-producers ul, .site-navigation ul, .footer-navigation ul, .services ul, .social ul, .breadcrumbs ul, form ul, .pagination ul, .popular-products ul{
    list-style: none;
    padding:0;
}
.header-top{
    background-color: #293449;
}
.header-top ul{
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    line-height: 18px;
    margin: 0;
}
.header-top ul li{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-top, .header-top a, .site-navigation a{
    color: #ffffff;
}
.navigation{
    display: flex;
    justify-content: space-between;
    line-height: 0;
}
/* логотип */
.logo{
    position: relative;
}
.logo::after{
    content:"";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #ff3333;
    box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
}
.logo-header,
.logo-footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo a{
    line-height: 0;
    background-color: #ff3333;
}
.logo-header img{
    width: 109px;
    height: 19px;
    margin: 13px 55px 10px 56px;
}
.logo a:hover{
    background-color: #ca2c37;
}
.logo a:active{
    background-color: #ba2732;
}
.logo-footer a{
    padding: 20px 41px;
    padding-bottom: 20px;
}
.logo-footer img{
    width: 138px;
    height: 23px;
}
/* кнопки главной навигации */
a.order-button,
a.cart-button,
a.bookmarks-button{
    min-width:150px;
    line-height: 18px;
}
a.order-button{
    text-align: center;
    padding: 12px 21px;
    background-color: #63a63e;
}
a.order-button:hover{
    background-color: #5fbb2d;
}
a.order-button:active{
    background-color: #518534;
}
a.order-button:active{
    opacity: 0.5;
}
a.bookmarks-button{
    position: relative;
    padding: 12px 25px 12px 5px;
    text-align: right;
}
a.bookmarks-button:hover,
a.cart-button:hover,
a.search-field:hover{
    background-color: #212a3a;
}
a.bookmarks-button:active,
a.cart-button:active{
    opacity: 0.6;
}
a.bookmarks-button::before{
    position: absolute;
    left:15px;
    width: 14px;
    height: 16px;
    background:url("../img/icon-bookmark.svg") no-repeat;
    opacity:0.3;
    content: "";
}
a.cart-button{
    position: relative;
    text-align: center;
    padding: 12px 5px 12px 20px;
}
a.cart-button::before{
    position: absolute;
    left:20px;
    width: 15px;
    height: 15px;
    background:url("../img/icon-cart.svg") no-repeat;
    opacity:0.3;
    content: "";
}
a.noempty-button,
a.noempty-button:hover{
    background-color: #ee3643;
}
/* Стилизация форм */
.products-filter label{
    position: relative;
}
.products-filter input[type=radio],
.products-filter input[type=checkbox]{
    display: none;
}
input[type="checkbox"].producer-input + label::before{
    position: absolute;
    left:-35px;
    width: 23px;
    height: 23px;
    background: url("../img/checkbox-off.svg") no-repeat;
    content: "";
}
input:checked[type="checkbox"].producer-input + label::before{
    background: url("../img/checkbox-on.svg") no-repeat;
}
input[type="radio"] + label::before{
    position: absolute;
    left:-35px;
    width: 25px;
    height: 25px;
    background: url("../img/radio-off.svg") no-repeat;
    content: "";
}
input:checked[type="radio"].battery-input + label::before{
    background: url("../img/radio-on.svg") no-repeat;
}
.search-field label{
    position: absolute;
    top: 12px;
    left:48px;
    line-height: 18px;
}
.search-field{
    position: relative;
    flex-grow: 1;
}
.search-field input{
    width: 100%;
    height: 42px;
    background-color: #293449;
    border: none;
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 17px;
    line-height: 18px;
}
.search-field input:focus{
    background-color: #fff;
    color: #000000;
}
.search-field input:focus + label{
    font-size: 0px;
}
.search-field input:focus ~ svg path{
    fill:#ee3643;
}
.search-field input:focus ~ svg{
    opacity: unset;
}
.search-icon{
    position: absolute;
    left: 17px;
    top: 50%;
    transform:translateY(-50%);
    opacity: 0.3;
}
/* Инфо о магазине в шапке */
.header-information{
    display: flex;
    align-items: flex-start;
    padding-top: 45px;
    justify-content: space-between;
    min-height: 158px;
}
.header-information div:nth-child(2){
    text-align: center;
}
.shop-description{
    width: 196px;
    line-height: 23px;
    font-style: italic;
    font-size: 16px;
    color: #ee3643;
    margin-left: 53px;
    padding-top: 3px;
    padding-right: 3px;
}
.shop-phone{
    position: relative;
    width: 270px;
    min-height: 45px;
    border: 3px solid #ffffff;
    line-height: 21px;
    color: #ee3643;
    font-size: 21px;
    padding-top: 5px;
    padding-left: 17px;
    margin: 0;
    margin-bottom: 1px;
}
.shop-phone a{
    text-decoration: none;
    color: #ee3643;
}
.shop-phone::before{
    content:"";
    position: absolute;
    width: 19px;
    height: 19px;
    left:10px;
    background:url("../img/icon-phone.svg") no-repeat;
}
.shop-address{
    color: #32425c;
    font-size: 14px;
    line-height: 24px;
    margin: 0;
    letter-spacing: 0.3px;
}
.signin, .signup, .user-data{
    font-size: 21px;
    line-height: 21px;
    background-color: #ffffff;
    border: none;
}
.signin{
    display: flex;
    align-items: flex-start;
    position: relative;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 27px;
}
.signin svg{
    margin-right: 15px;
}
.signup{
    padding: 12px 25px;
}
.signin:hover, .signup:hover, .signin:focus, .signup:focus{
    color: #ee3643;
}
.signin:hover svg path{
    fill:#32425c;
}
.signin:active, .signup:active, .user-info:active{
    opacity: 0.3;
}
.user-info{
    min-width: 299px;
}
.login-info{
    min-width: 299px;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
}
.user-info ul{
    display: flex;
    margin-top: 5px;
    margin-bottom: 0px;
    list-style: none;
    padding-left: 20px;
}
.user-info li{
    position: relative;
}
.user-info li:not(:first-child)::before{
    content:"";
    position: absolute;
    left:-10px;
    top:6px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #32425c;
}
.user-info ul a{
    font-size: 16px;
    line-height: 18px;
    color: #32425c;
    text-decoration: underline;
    padding-right: 25px;
}
.user-info ul a:hover, .user-info ul a:focus{
    color: #ee3643;
}
.user-info ul a:active{
    opacity: 0.3;
}
.user-data{
    display: flex;
    padding: 14px 10px 11px 13px;
    position: relative;
}
.user-data a:hover svg path, .user-data svg:hover path{
    fill:#32425c;
}
.user-name{
    padding-right: 39px;
    padding-left: 14px;
}
.user-name a{
    color: #000000;
}
/* Навигация по сайту */
.site-navigation{
    background-color: #32425c;
    box-shadow: inset 0 -5px 0 #293449;
    line-height: 17px;
}
.site-navigation ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding-left: 18px;
    padding-right: 18px;
}
.site-navigation li{
    display: flex;
}
.site-navigation a{
    padding-top:21px;
    padding-bottom: 22px;
    padding-left: 31px;
    padding-right: 31px;
}
.site-navigation a:hover{
    background-color: #293449;
}
.site-navigation a:active{
    opacity: 0.5;
}
/* Хлебные крошки */
.breadcrumbs ul{
    display: flex;
    position: relative;
    margin-top: 19px;
    margin-left: 57px;;
}
.breadcrumbs li{
    padding-right: 39px;
    position: relative;
}
.breadcrumbs a{
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    color: #000000;
    line-height: 18px;
    text-transform: uppercase;
}
.breadcrumbs ul::before{
    content:"";
    width: 14px;
    height: 12px;
    position: absolute;
    left:-55px;
    top:5px;
    background:url("../img/icon-home.svg") no-repeat;
}
.breadcrumbs li::before{
    content:"";
    width: 8px;
    height: 12px;
    position: absolute;
    left:-20px;
    top:5px;
    background:url("../img/icon-right-small.svg") no-repeat;
}
/* h2{
    text-transform: uppercase;
} */
.catalog-title h1{
    color: #32425c;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}
/* Формы */
.products-filter fieldset{
    position: relative;
    border:none;
    font-family: "PT Sans", "Arial", sans-serif;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}
.products-filter label{
    line-height: 20px;
    font-size: 15px;
}
.products-filter input:disabled + label{
    color: rgba(0, 0, 0, 0.4);
}
.products-filter legend{
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 15px;
}
.products-filter .prices-box{
    margin-bottom: 40px;
}
.prices-box::after{
    position: absolute;
    bottom:-25px;
    content: "";
    width: 220px;
    height: 1px;
    background-color: #e5e5e5;
}
.products-filter .producers-box{
    margin-bottom: 20px;
}
.producers-box ul{
    margin: 0;
    padding-left: 35px;
}
.producers-box li{
    margin-bottom: 20px;
}
.producers-box::after{
    position: absolute;
    content: "";
    width: 220px;
    height: 1px;
    background-color: #e5e5e5;
}
.products-filter .battery-box{
    margin-bottom: 58px;
}
.battery-box ul{
    margin: 0;
    padding-left: 35px;
}
.battery-box li{
    margin-bottom: 20px;
}
.show-products{
    width: 140px;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 18px;
    border: 1px solid #e5e5e5;
    background-color: #ffffff;
}
/* Каталог товаров */
.catalog{
    display: flex;
    justify-content: space-between;
}
.catalog-title{
    padding-top: 32px;
    padding-bottom: 34px;
    padding-left: 30px;
    background-color: #f2f6f8;
    margin-bottom: 15px;
}
.catalog-title h1{
    margin: 0;
    font-weight: normal;
}
.products{
    display: flex;
    flex-direction: column;
    width: 700px;
}
.products ul{
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: 700;
    margin: 0;
    margin-bottom: 30px;
}
.products h3{
    font-size: 18px;
    line-height: 20px;
}
.item{
    font-family: "PT Sans", "Arial", sans-serif;
    width: 220px;
    border: 1px solid #e5e5e5;
    position: relative;
    text-align: center;
    min-height: 318px;
    margin-bottom: 19px;
}
.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5px;
}
.item h3{
    width: 160px;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    color: #000000;
    margin-top: 10px;
    margin-bottom: 0;
}
.item-image{
    position: relative;
    width: 218px;
    height: 170px;
    margin: 0 auto;
}
.item:hover .item-buttons,
.item:focus .item-buttons{
    opacity: 1;
}
.item-buttons:focus-within{
    opacity: 1;
}
.item-buttons{
    padding-top: 43px;
    opacity: 0;
    background-color: #fff;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}
.item p{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 141px;
    height: 38px;
    text-transform: uppercase;
    line-height: 18px;
}
.item .price{
    background-image: url('../img/red-button.svg');
    background-repeat: no-repeat;
    color: #ffffff;
    margin-top: auto;
    font-weight: 700;
    margin-left: 10px;
    padding-right: 5px;
}
.item .price-old{
    color: #999999;
    text-decoration: line-through;
    font-weight: 700;
    margin: 0 0 0;
}
.item button{
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 8px;
    width: 135px;
    border-radius: 4px;
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}
.item button:first-of-type::before{
    position: absolute;
    left:12px;
    content:"";
    width: 15px;
    height: 15px;
    opacity: 0.3;
    background:url("../img/icon-cart.svg") no-repeat;
}
.item:hover{
    border: none;
    box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}
/* Фильтр */
.catalog input{
    font-family: "PT Sans", "Arial", sans-serif, "Arial", sans-serif;
    line-height: 38px;
    text-transform: uppercase;
    text-align: center;
    border: none;
    background-color: #f7f3ec;
}
.catalog input[type=number]{
    width: 95px;
    height: 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.catalog input[type='range']{
    display: none;
}
.catalog .range{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: #f7f3ec;
    height: 80px;
    margin-bottom: 9px;
}
.catalog .range-slider{
    position: relative;
    width: 180px;
    height: 2px;
    background-color: #00ca74;
    background: linear-gradient(45deg, #00ca74 80%, #d7dcde 80%);
}
.range-slider::before{
    position: absolute;
    top: -10px;
    content: "";
    width: 20px;
    height: 22px;
    border-radius: 50%;
    box-shadow: 0 3px 7px 0 #e0ddd8;
    background-color: #fff;
}
.range-slider::after{
    position: absolute;
    right: 20px;
    top: -10px;
    content: "";
    width: 20px;
    height: 22px;
    border-radius: 50%;
    box-shadow: 0 3px 7px 0 #e0ddd8;
    background-color: #fff;
}
.range::before{
    content: "";
    position: absolute;
    left: 27px;
    width: 5px;
    height: 5px;
    background-color: #ababab;
    border-radius: 50%;
    z-index: 2;
}
.range::after{
    content: "";
    position: absolute;
    right: 47px;
    width: 5px;
    height: 5px;
    background-color: #ababab;
    border-radius: 50%;
    z-index: 2;
}
.price-range{
    display: flex;
    justify-content: space-between;
    align-items: center
}
.price-range span{
    position: relative;
}
.price-range span::before{
    content:"";
    position: absolute;
    left:-3px;
    width: 9px;
    height: 1px;
    background-color:#000;
}
.filter{
    width: 220px;
}
.filter-title{
    background-color: #f7f3ec;
    font-family: "PT Sans", "Arial", sans-serif;
    padding-top: 14px;
    padding-bottom: 10px;
    padding-left: 20px;
    text-transform: uppercase;
    margin-bottom: 8px;
}
.filter h3, .sort h3{
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    margin: 0;
}
.sort h3{
    margin-right: 90px;
}
.sort{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 38px;
    background-color: #f7f3ec;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    padding: 10px 17px 10px 20px;
    margin-bottom: 21px;
}
a.sort-type, a.sort-price, a.sort-functional{
    color: rgba(0, 0, 0, 0.3);
    border-bottom: 1px dotted #ee3643;
}
a.sort-type:hover,
a.sort-price:hover,
a.sort-functional:hover,
a.sort-type:focus,
a.sort-price:focus,
a.sort-functional:focus{
    color: #000000;
    border-bottom-style: solid;
}
.sort-types{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 348px;
    justify-content: space-between;
}
.sort-buttons{
    display: flex;
    min-width: 43px;
    justify-content: space-between;
}
.sort a:active, .sort a.active{
    border: none;
    color: #ee3643;
}
.sort a svg{
    fill:#c5c5c5;
    border:none;
}
.sort a.active svg{
    fill:#ee3643;
}
.sort a:hover svg{
    fill:#000;
    border:none;
}
/* кнопка КУПИТЬ */
.item-buttons button:first-of-type{
    color: #ffffff;
    border: none;
    box-shadow: inset 0 -3px 0 #367315;
    background-color: #63a63e;
}
.item-buttons button:first-of-type:hover, .item-buttons button:first-of-type:focus{
    background-color: #5fbb2d;
}
.item-buttons button:first-of-type:active{
    background-color: #518534;
}
/* Кнопка В ЗАКЛАДКИ */
.item-buttons button:last-of-type{
    border: 3px solid #63a63e;
    background-color: #ffffff;
    padding-top: 7px;
    padding-bottom: 7px;
}
.item-buttons button:last-of-type:hover, .item-buttons button:last-of-type:focus{
    border-color: #32425c;
}
.item-buttons button:last-of-type:active{
    opacity: 0.3;
}
/* Пагинация */
.pagination ul{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 60px;
    font-weight: 400;
}
.pagination li a{
    border: 1px solid #e5e5e5;
    width: 38px;
    color: #000000;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 18px;
    margin-right: 10px;
}
.pagination li a:hover, .pagination li a:focus{
    border-color: #bdc6ca;
}
.pagination li a:active, .pagination a.current{
    border-color: #ee3643;
}
.pagination li:last-of-type a{
    width: 138px;
}
.pagination a.current{
    color: #ffffff;
    background-color: #ee3643;
}
.pagination a.current:hover{
    border-color: #ee3643;
}

.product-info-footer{
    background-color: #f2f6f8;
    padding-top: 63px;
    padding-bottom: 68px;
    padding-left: 5px;
}
.product-info-footer p, .product-info-footer h2{
    margin: 0;
    font-weight: 400;
}
.product-info-footer h2{
    margin-bottom: 25px;
}
.services{
    background-color: #f4f8f9;
    padding-top: 43px;
    margin-bottom: 40px;
}
.services .container{
    position: relative;
}
.services > div{
    display: flex;
    flex-wrap:wrap;
}
.services h2{
    font-weight: 400;
}
.services h3{
    font-size: 36px;
    color: #32425c;
    line-height: 36px;
    text-transform: uppercase;
    font-weight: 400;
}
.services-info{
    width: 100%;
    margin-bottom: 20px;;
}
.delivery-info{
    position: absolute;
    right:0px;
    top:200px;
    width: 619px;
    min-height: 282px;
    background: url("../img/layer_131.png") no-repeat;
    background-position: 100% 100%;
}
.garanty-info{
    position: absolute;
    right:0px;
    top:200px;
    width: 619px;
    min-height: 282px;
    background: url("../img/layer_130.png") no-repeat;
    background-position: 100% 100%;
}
.credit-info{
    position: absolute;
    right:0px;
    top:200px;
    width: 619px;
    min-height: 282px;
    background: url("../img/layer_119.png") no-repeat;
    background-position: 100% 100%;
}
.delivery-info h3, .garanty-info h3, .credit-info h3{
    margin-bottom: 25px;
    margin-top: 0;
}
.service-menu{
    position: relative;
    margin-bottom: 100px;;
}
.service-menu ul{
    margin-top: 35px;
}
.service-menu li{
    display: flex;
    align-items: center;
    width: 240px;
}
.service-menu a{
    color:#fff;
    padding-top:16px;
    padding-bottom: 15px;
    flex-grow:1;
    line-height: 30px;
    padding-left: 22px;
    font-size: 21px;
    font-weight: 700;
    background-color: #32425c;
    box-shadow: 0 1px 0 #293449, inset 0 1px 0 #405069;
}
.service-menu a.current{
    background-color: #fff;
    color: #32425c;
    box-shadow: 0 1px 0 #ffffff, inset 0 1px 0 #ffffff;
}
.service-menu a:hover:not(.current){
    background-color: #293449;
    color:#fff;
}
.service-menu li a:active{
    box-shadow: 0 1px 0 #ffffff, inset 0 1px 0 #ffffff;
    background-color: #ffffff;
    color: #32425c;
}
.service-menu::before{
    position: absolute;
    content:"";
    width: 10px;
    height: 279px;
    background:url("../img/layer_118.png") no-repeat;
    left:230px;
}
.shop-info{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 86px;
}
.shop-info div:first-of-type{
    width: 519px;
}
.shop-info div:first-of-type a{
    width: 220px;
}
.shop-info div:last-of-type{
    width: 300px;
}
.shop-info p, .services p, .product-info-footer p{
    font-family: "PT Sans", "Arial", sans-serif,sans-serif;
    font-size: 13px;
    line-height: 24px;
}
.product-info-footer h2{
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}
.shop-info p{
    margin-top: 13px;
}
.shop-info div:first-child p:first-of-type{
    margin-bottom: 25px;
}
.shop-info div:last-child p:first-of-type{
    margin-bottom: 30px;
}
.shop-info ul{
    list-style: none;
    margin-top: 20px;
    padding-left: 36px;
}
.shop-info a{
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 18px;
}
.shop-info li{
    position: relative;
    font-size: 18px;
    line-height: 20px;
    padding-bottom: 20px;
}
.shop-info li::before{
    position: absolute;
    content:"";
    top:8px;
    left:-35px;
    width:25px;
    border-bottom: 2px solid #ee3643;
}
.shop-info h2{
    font-weight: 400;
}
.shop-contacts{
    margin-top: 5px;
    margin-left: 10px;
    padding-left: 12px;
}
.shop-info .shop-contacts p{
    margin-bottom: 30px;
}
.shop-map .map{
    margin-bottom: 36px;
}
.map-modal{
    position: fixed;
    top: 50%;
    margin-left: 50%;
    transform:translate(-50%,-50%);    
}
.map-modal iframe{
    width: 940px;
    height: 447px;
    box-shadow: 0 0 8px 1px #2f2a2b;
    border:0;
}
.map-modal .modal-close{
    top: 9px;
    left:911px;
}
.modal-close {
    position: absolute;
    width: 21px;
    height: 21px;
    background:url("../img/icon-close.svg") no-repeat;
    border: 0;
    cursor: pointer;
  }
/* Навигация подвала */
.footer-navigation{
    background-color: #32425c;
    padding-bottom: 35px;
}
.first-nav, .second-nav{
    display: flex;
    justify-content: space-between;
}
.footer-navigation .menu-nav{
    display: flex;
    justify-content: space-between;
}
.first-menu, .second-menu{
    flex-grow:1;
    display: flex;
    justify-content: space-between;
    margin: 0;
}
.first-menu{
    align-items: flex-end;
    margin-left: 175px;
    margin-bottom: 5px;
}
.second-menu{
    align-items: center;
    margin-left: 105px;
    margin-bottom: 15px;    
}
.first-menu a{
    color: #f1f5f7;
    font-size: 18px;
    line-height: 24px;
}
.footer-navigation p{
    color: #f3f7f9;
    line-height: 24px;
    font-size: 18px;
}
.footer-navigation a:hover,
.footer-navigation a:focus{
    text-decoration: underline;
}
.first-menu a:active,
.second-menu a:active{
    opacity: 0.5;
}
.second-menu a{
    color: #ffd180;
}
.footer-address{
    margin-top: 30px;
    margin-left: 5px;
}
.footer-address a{
    display: block;
    color: #fff;
    text-decoration: none;
}
.footer-copyright{
    margin-right: 166px;
}
.footer-feedback{
    margin-right: 51px;
}
.social{
    background-color: #293449;
    color: #ffffff;
    font-size: 16px;
    line-height: 18px;
}
.social .container{
    min-height: 107px;
    display: flex;
    align-items: center;
}
.social p{
    margin: 0;
}
.social a{
    color: #ffd180;
}
.social a:hover, .social a:focus{
    text-decoration: underline;
}
.social a:active{
    color: #ee3643;
}
.social-icons{
    display: flex;
    justify-content: space-between;
    margin-right: 117px;
}
.social-icons a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: #212a3a;
    margin-right: 3px;
}
.social-icons a:hover,
.social-icons a:focus{
    background-color: #ee3643;
}
/* Группа баннеров на главной странице */
.banners-group{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 30px;
}
.first-block div,
.second-block div{
    font-size: 24px;
    line-height: 30px;
    color: #ffffff;
    width: 300px;
    height: 123px;
    margin-bottom: 20px;
}
.banners-group a{
    width: 135px;
    font-size: 14px;
    color: #ffffff;
    line-height: 18px;
    text-transform: uppercase;
}
.banners-group .first-block,
.banners-group .second-block{
    display: flex;
    flex-wrap: wrap;
}
.first-block{
    width: 620px;
    justify-content: space-between;
}
.second-block{
    width: 300px;
    align-content: space-between;
}
.first-block p, .second-block p{
    margin: 0 0 12px;
}
.first-block div, .second-block div{
    padding:20px 22px 22px 23px;
}
.banners-group .forth{
    display: flex;
    flex-direction: column;
    width: 620px;
    min-height: 266px;
    padding-top: 23px;
    padding-bottom: 22px;
    padding-left: 25px;
}
.forth .title{
    margin-bottom: 2px;
    letter-spacing: 0.7px;
}
.forth a{
    width: 195px;
    margin-top: auto;
}
.first{
    background-color: #ffbf47;
    background-image: url("../img/icon-1.svg"),url("../img/new_flag.png");
    background-repeat: no-repeat;
    background-position: 213px 30px, top right;
}
.second{
    background-color: #3bbce3;
    background-image: url("../img/icon-2.svg");
    background-repeat: no-repeat;
    background-position: 198px 33px;
}
.third{
    background-color: #dc91d8;
    background-image: url("../img/icon-3.svg");
    background-repeat: no-repeat;
    background-position: 190px 30px;
}
.forth{
    position: relative;
    background-repeat: no-repeat;
    background-image: url("../img/layer_99.jpg");
    background-color: #685c53;
}
.forth.change-slide{
    background-image: url("../img/layer_98.jpg");
}
.forth .title{
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
}
.forth .slogan{
    font-size: 18px;
    line-height: 24px;
}
.forth .slider-button{
    position: absolute;
    display: block;
    top:115px;
    width: 22px;
    height: 40px;
    cursor: pointer;
}
.forth .slider-indicator{
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #ee3643;
    box-shadow: inset 0 0 0 10px #fff;
    left: 295px;
    bottom: 37px;
    border-radius: 50%;
}
.slider-indicator.checked{
    box-shadow: inset 0 0 0 2px #fff;
}
.slider-indicator.next{
    left: 315px;
}
.slider-button.next{
    right: 20px;
    background:url("../img/icon-right.svg") no-repeat;
}
.slider-button.prev{
    background:url("../img/icon-left.svg") no-repeat;
}
.fifth{
    background-color: #8ed78f;
    background-image: url("../img/icon-4.svg");
    background-repeat: no-repeat;
    background-position: 197px 26px;
}
.sixth{
    background-color: #ffc047;
    background-image: url("../img/icon-5.svg");
    background-repeat: no-repeat;
    background-position: 191px 32px;
}
.new-flag::before{
    position: absolute;
    z-index: 1;
    right:0;
    content: "";
    width: 60px;
    height: 59px;
    background:url("../img/new_flag.png") no-repeat;
}
/* Красная кнопка */
a.red{
    background-color: #ee3643;
    font-size: 14px;
    color: #ffffff;
    line-height: 18px;
    text-transform: uppercase;
}
/* Центровщик текста в кнопках-ссылках */
.button{
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    text-transform: uppercase;
    cursor: pointer;
}
a.red:hover, a.red:focus{
    background-color: #ca2c37;
}
a.red:active{
    background-color: #ba2732;
}
a.grey{
    background-color: rgba(0, 0, 0, 0.1);
}
a.grey:hover, a.grey:focus{
    background-color: rgba(0, 0, 0, 0.2);
}
a.grey:active{
    background-color: rgba(0, 0, 0, 0.3);
}
.popular-title h2{
    font-weight: 400;
    color: #32425c;
}
.popular-title a{
    margin-right:24px;
    width: 253px;
}
.popular-products ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 22px;
}
.popular-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f5f0;
    min-height: 89px;
    padding-left: 29px;
    padding-top: 7px;
    margin-bottom: 20px;
}
.popular-producers ul{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    min-height: 310px;
    flex-wrap: wrap;
    margin: 0;
    margin-bottom: 85px;
}
.popular-producers li{
    display: flex;
    width: 220px;
    min-height: 145px;
    border: 1px solid #e5e5e5;
    justify-content: center;
}
.popular-products li.item{
    margin-bottom: 0;
}
.producers-list a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.producers-list a:hover{
    box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
    border: none;
}
.producers-list a:active{
    opacity: 0.3;
}
/* модальное окно: товар добавлен в корзину */
.cart-modal, .feedback-modal{
    position: fixed;
    background-color: #fff;
    top: 50%;
    margin-left: 50%;
    margin-right: 50%;
    transform:translate(-50%,-50%);
    width: 620px;
    box-shadow: 0 20px 40px rgba(41, 52, 73, 0.75);
}
.cart-modal{
    min-height: 282px;
    z-index: 2;
}
.feedback-modal{
    min-height: 430px;
}
.modal-shake{
    animation-name: shake;
    animation-duration:0.5s;
    animation-iteration-count: 2;
}
.modal-appearance{
    animation-name: appearance;
    animation-duration: 1s;
}
.red-strip{
    height: 7px;
    background-color: #ee3643;
}
.cart-modal .action-buttons, .feedback-modal .action-buttons{
    display: flex;
    justify-content: center;
    background-color: #f1f1f1;
    padding: 37px 80px;
    text-transform: uppercase;
}
.cart-modal .modal-close{
    right: 9px;
    top: 16px;
}
.feedback-modal form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 311px;
    padding:45px 80px 37px;
}
.feedback-form input{
    min-width: 220px;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 18px;
    padding: 8px;
    padding-left: 10px;
    border: 2px solid #dee3e4;
    border-radius: 3px;
}
.feedback-form input::placeholder{
    color: #a9a9a9;
}
.feedback-form textarea{
    width: 100%;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 18px;
    min-height: 114px;
    padding: 8px;
    padding-left: 10px;
    border: 2px solid #dee3e4;
    border-radius: 3px;
}
.feedback-form label{
    margin-bottom: 10px;
}
.user-firstname,
.user-email,
.user-message{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.user-message{
    width: 100%;
    margin-top: 20px;
}
.action-buttons a{
    margin-right: 20px;
    min-width: 220px;
    padding-left: 5px;
    padding-right: 5px;
}
.action-buttons button{
    font-size: 14px;
    font-family: "Cuprum", "Arial", sans-serif;
    line-height: 18px;
    min-width: 220px;
    padding-left: 5px;
    padding-right: 5px;
    border:none;
    cursor: pointer;
}
.cart-modal button{
    background-color: #fff;
}
.feedback-modal button{
    background-color: #ee3643;
    color: #fff;
    width: 100%;
}
.feedback-modal .modal-close{
    right: 9px;
    top: 16px;
}
.poduct-to-cart{
    background: url("../img/icon-mark.svg") no-repeat;
    background-position: 81px 50%;
    padding-top: 68px;
    padding-bottom: 68px;
}
.poduct-to-cart h2{
    margin: 0;
    margin-left: 179px;
    text-transform: none;
    font-weight: 400;
}