/* cuprum-regular - latin_cyrillic */
@font-face {
    font-family: 'Cuprum';
    font-style: normal;
    font-weight: 400;
    src: local('Cuprum Regular'), local('Cuprum-Regular'),
         url('../fonts/cuprum-v11-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/cuprum-v11-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/cuprum-v11-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/cuprum-v11-latin_cyrillic-regular.svg#Cuprum') format('svg'); /* Legacy iOS */
}

/* cuprum-italic - latin_cyrillic */
@font-face {
    font-family: 'Cuprum';
    font-style: italic;
    font-weight: 400;
    src: local('Cuprum Italic'), local('Cuprum-Italic'),
        url('../fonts/cuprum-v11-latin_cyrillic-italic.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/cuprum-v11-latin_cyrillic-italic.woff') format('woff'), /* Modern Browsers */
        url('../fonts/cuprum-v11-latin_cyrillic-italic.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/cuprum-v11-latin_cyrillic-italic.svg#Cuprum') format('svg'); /* Legacy iOS */
}

/* PTsans regular */
@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: local('PT Sans'),local('PT Sans regular'),
        url('../fonts/ptsans.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/ptsans.woff') format('woff'), /* Modern Browsers */
}
/* PTsans bold */
@font-face {
    font-family: 'PT Sans';
    font-style: bold;
    font-weight: 700;
    src: local('PT Sans'),local('PT Sans bold'),
        url('../fonts/ptsansbold.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/ptsansbold.woff') format('woff'), /* Modern Browsers */
}
/* Myriad Pro Regular */
@font-face {
    font-family: 'Myriad Pro Regular';
    font-style: normal;
    font-weight: normal;
    src: local('MyriadPro-Regular'),local('MyriadPro Regular'),
        url('MyriadPro-Regular.eot') format('embedded-opentype'),
        url('MyriadPro-Regular.woff') format('woff');
}

  body{
      margin: 0;
      padding: 0;
      font-family: "Cuprum",sans-serif;
      font-weight: 400;
      color: #000000;
      font-size: 17px;
  }